*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 16vh;

}

body{
  background: #1F1B24 ;
  overflow: hidden;
}