.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0.1px;
  text-align: center;
  
  background:#1F1B24; 
  color: #E0E0E0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.carousel h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #FF4500; /* Primary theme color */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.carousel p {
  font-size: 1.1rem;
  color: #ccc;
  margin-bottom: 20px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding:15px;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 500px; /* Adjust height as needed */
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition:  2s ease-in-out;
}

.carousel-button {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  transition: background 0.3s ease;
}

.carousel-button:hover {
  background: rgba(255, 255, 255, 0.6); /* Slightly brighter on hover */
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

@media (max-width: 768px) {
  .carousel {
    padding: 10px;
  }

  .carousel h1 {
    font-size: 1.8rem;
  }

  .carousel p {
    font-size: 1rem;
  }

  .carousel-button {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
  }

  .carousel-slide {
    height: 300px; /* Adjust height for smaller screens */
  }
}
