/* ServicesHeading.css */

.fitness-potential-section {
  background-color: #1F1B24;
  color:#E0E0E0 ;
  padding: 20px; /* Adds some padding around the content */
  text-align: center; /* Centers the text horizontally */
}

.fitness-potential-section h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 2.5rem; /* Adjusts the font size for the heading */
}

.fitness-potential-section p {
  margin: 0;
  padding: 10px 0;
  font-size: 1.2rem; /* Adjusts the font size for the paragraph */
}
