
/* Scoped TodaysWorkout Styles */
.container.todays-workout {
  max-width: 1100px;
  margin: 50px auto;
  padding: 30px;
  background-color: #1e1e1e; /* Dark gray background for the container */
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6); /* Soft shadow */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Light border for separation */
  color: #fff; /* Ensure text is readable against the dark background */
}

.header {
  margin-bottom: 25px;
  text-align: center;
}

.header label {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.workout-name-input {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  font-size: 1.1rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #333; /* Dark background for input */
  color: #fff;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.workout-name-input:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.exercise-list {
  margin: 30px 0;
}



/* Scoped Button Styles */
.container.todays-workout .exercise-card-wrapper button,
.container.todays-workout button {
  
  margin: 5px;
  padding: 5px 10px; /* Reduced padding for smaller button size */
  font-size: 1rem; /* Reduced font size */
 /* background: linear-gradient(135deg,#f44336, #2072a8);*/
  background: linear-gradient(135deg,#f44336, #2072a8);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.container.todays-workout .exercise-card-wrapper button:hover,
.container.todays-workout button:hover {
  background: linear-gradient(135deg,#FFE53B, #FF2525);
  transform: translateY(-2px);
}

.container.todays-workout .exercise-card-wrapper button:active,
.container.todays-workout button:active {
  background: linear-gradient(135deg, #45a2c1, #186086);
  transform: translateY(0);
}

.conditions, .subjective-feedback {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.conditions label, .subjective-feedback label {
  font-size: 1.1rem;
  color: #fff;
}

.conditions input, .subjective-feedback input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #333; /* Dark background for inputs */
  color: #fff;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.conditions input:focus, .subjective-feedback input:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

@media (max-width: 600px) {
  .conditions, .subjective-feedback {
    grid-template-columns: 1fr;
  }

  .container.todays-workout button {
    font-size: 1.1rem;
  }
}
